{% extends "base.html" %}

{% block main %}
{% include 'flash_messages.html' %}
<h1 class="page-header">Add Profile</h1>
<div>
    <form class="card-form detailed-profile row align-items-center my-4 px-5 py-3 shadow-r mx-auto" action="{{ url_for('add_profile')}}" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="col-sm-9 form-group">
            {{ form.first_name.label('First Name') }}
            {{ form.first_name(class='form-control') }}
        </div>
        <div class="col-sm-9 form-group">
            {{ form.last_name.label('Last Name') }}
            {{ form.last_name(class='form-control') }}
        </div>
        <div class="col-sm-9 form-group">
            {{ form.gender.label('Gender') }}
            {{ form.gender(class='form-control', placeholder='Select Gender') }}
        </div>
        <div class="col-sm-9 form-group">
            {{ form.email.label('Email') }}
            {{ form.email(class='form-control', placeholder='e.g. jdoe@example.com') }}
        </div>
        <div class="col-sm-9 form-group">
            {{ form.location.label('Location') }}
            {{ form.location(class='form-control', placeholder='e.g. Kingston, Jamaica') }}
        </div>
        <div class="col-sm-9 form-group">
            {{ form.bio.label('Biography') }}
            {{ form.bio(class='form-control') }}
        </div>
        <div class="col-sm-9 form-group">
            {{ form.profile_picture.label('Profile Picture') }}
            {{ form.profile_picture(class='form-control') }}
        </div>
        <div class="col-sm-4">
            <button type="submit" name="submit" class="btn view-p-btn btn-success">Add Profile</button>
        </div>

    </form>
</div>
{% endblock %}
