{% extends "base.html" %}

{% block main %}
{% include 'flash_messages.html' %}
<div class="container">
    <h1 class="pg-header">Profiles</h1>
    {% for profile in profiles %}
        <div class="card-form row align-items-center my-4 py-3 shadow-r">
            <div class="col-sm-3 profiles-list-img">
                <img class="img-fluid" src="{{ url_for('static', filename = profile.profile_picture)}}">
            </div>
            <div class="col-sm-6">
                <h4>{{ profile.first_name }} {{ profile.last_name }}</h4>
                <div class="profile-desc">
                    <p class=""><i class="fa fa-user fa-fw"></i>{{ profile.gender }}</p>
                    <p class=""><i class="fas fa-map-marker-alt fa-fw"></i>{{ profile.location }}</p>
                </div>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-success view-p-btn" onclick="window.location.href = '{{ url_for('view_profile', userid = profile.id) }}';">View Profile</button>
            </div>
        </div>
{% endfor %}
</div>
{% endblock %}
